# Dependencies
node_modules/

# Environment Variables
.env

# Database
leaderboard.db

# Historical Daily Databases
historical_daily/
leaderboard.db-shm
leaderboard.db-wal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
